# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.d

# Executables
*.exe
*.out
*.app

# Harddisks
*.harddisk

# Maps 
*.map
*.map.*

# Specific exec's
buenos
tfstool

# Doc
doc/

# Userland exec's
halt
readwrite
calc
exit
exec
exec_exit
exec_calc
hw


